body {
    /* bg */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    padding: 112px 320px;

    position: relative;
    width: 1440px;
    height: 1024px;

    background: #292929;


    /* brand logo */
    position: static;
    width: 800px;
    left: calc(50% - 800px/2);
    top: 10.94%;
    bottom: 10.94%;

    background: url(images/brand-logo.png);
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

h1 {
    
}