.footer {
    position: absolute;
    width: 100%;
    padding: 1rem 0;
    
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    background: linear-gradient(180deg, var(--black) 0%, var(--dark-grey) 100%);
    color: var(--light-grey);
}

.col {
    align-items: center;
    align-content: center;
}

.col-logo {
    display: block;
    justify-content: right;
    text-align: end;
    margin-right: 1rem;
}

.footer-logo {
    max-height: 150px;
}

.col-contact {
    padding-top: 2rem;
}

.footer-icon {
    margin-right: 1rem;

    color: var(--light-grey);
}

.footer-icon:hover {
    box-shadow: 0px 0px 20px var(--light-grey);
}

@media only screen and (max-width: 640px) {
    .footer {
        font-size: 16px;
    }
}