.footer {
    background: var(--cool-white);
    display: flex;
    width: 100%;
    margin: -8px;
    padding: 1rem 0 1rem 0;
    position: absolute;
  }
  
  .footer-content {
    margin: 0 auto;
  }
  
  .footer-icon {
    margin: auto 0 auto 10px;
    height: 24px;
    display: inline-block;
  }

  .footer-text {
    color: var(--dark-blue);
    margin: 0;
    font-size: 20px;
    font-family: CormorantGaramondBold;
  }
  
  .footer-social-icon {
    margin: 0 4px;
    font-size: 20px;
    color: var(--dark-blue);
  }
  
  @media only screen and (max-width: 10008px) {
    .footer-text .footer-social-icon {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 640px) {
    .footer .footer-text .footer-social-icon {
      font-size: 16px;
      display: block;
    }
  
    .footer-icons {
      display: flex;
      justify-content: space-evenly;
      margin: 8px auto 0;
    }
  }