html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}

section {
    padding: 4% 0 0 0;
}

.home {
    text-align: center;
    background: linear-gradient(0deg, var(--dark-grey) 0%, var(--black) 99%);
}

.logo {
    padding: 10% 0;
    max-height: 100vh;
    max-width: 80vw;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting-container {
    position: absolute;
    top: 50%;
    width: 50vw;
    overflow: hidden;
}

.greeting {
    display: block;
    animation: scroll_greetings 8s linear infinite;
    white-space: nowrap;

    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;

    color: var(--white);
    text-shadow: 0px 0px 8px var(--white);
}

.section-header {
    padding: 2% 0;
    justify-content: center;
    
    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;

    color: var(--white);
    text-shadow: 0px 0px 2px var(--white);
}

.section-divider {
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    height: 2px;
    justify-self: center;
    opacity: 0.1;
    margin: 4% 0 0 0;
    width: 50%;
}

@media only screen and (max-width: 992px) {
    .logo {
        padding: 20% 0;
    }
}

@media only screen and (max-width: 576px) {
    .logo {
        padding: 30% 0;
    }
}

@keyframes scroll_greetings {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}