html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}

section {
    padding: 2%;
}

.home {
    text-align: center;
    background: linear-gradient(0deg, var(--dark-grey) 0%, var(--black) 99%);
}

.logo {
    padding: 10% 0;
    max-height: 100vh;
    max-width: 80vw;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting-container {
    position: absolute;
    top: 50%;
    height: 18vw;
    overflow: hidden;

    padding: 0px 20px;
}

.greeting {
    display: block;
    animation: spin_words 5s infinite;
    margin: 2px 2px;

    font-family: Cormorant Infant;
    font-style: normal;
    font-weight: 600;
    font-size: 12vw;

    color: var(--white);
    text-shadow: 0px 0px 8px var(--white);
}

@media only screen and (max-width: 992px) {
    .logo {
        padding: 20% 0;
    }
}

@media only screen and (max-width: 576px) {
    .logo {
        padding: 30% 0;
    }
}

@keyframes spin_words {
    20% {
        transform: translateY(-100%);
    }
    40% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-300%);
    }
    80% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(400%);
    }
}