.arrow {
  display: flex;
  margin: 0 auto 45px;
  max-width: 100px;
  height: auto;
}

.home {
  align-items: center;
  text-align: center;
  margin: 0 auto 4rem;
}

.home-links-col {
  display: flex;
  background: var(--cool-white);
  padding: 2rem 2rem;
  margin: 1rem auto;
}

.home-links-row {
  display: inline-block;
}

.home-text {
  margin: 0 2rem;
  color: var(--dark-blue);
  font-family: CormorantGaramondBold;
  font-size: 36px;
}

.home-text-sep {
  margin: 0 2rem;
  color: var(--cool-grey);
  font-family: CormorantGaramond;
  font-size: 36px;
}

.logo {
  display: flex;
  margin: 0 auto 45px;
  max-width: 700px;
  height: auto;
}

@media only screen and (max-width: 1008px) {
  .home-links-col {
    padding: 1rem 1rem;
    margin: 1rem auto;
}

  .home-text, .home-text-sep {
    margin: 0 0.625rem;
    font-size: 30px;
  }
  
  .logo {
    max-width: 600px;
  }
}

@media only screen and (max-width: 640px) {
  .arrow {
    max-width: 50px;
  }

  .home-links-col {
    display: inline-block;
  }

  .home-text {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 36px;
  }

  .home-text-sep {
    display: none;
  }

  .logo {
    max-width: 400px;
  }
}

@media only screen and (max-width: 350px) {
  .logo {
    max-width: 200px;
  }

  /* FIXME necessary? */
  /*.home {*/
    /*margin: 0 auto 9rem;*/
  /*}*/
}
