.card {
    margin: 2.5vw;
    border-color: var(--dark-grey) !important;
    transition: all .5s;

    filter: grayscale(50%);
}

.card:hover {
    text-shadow: 0px 0px 10px var(--white);
    box-shadow: 0px 0px 2.5px 2.5px var(--light-grey);

    transform: scale(1.1);

    filter: none;
}

.card-img {
    padding: 0;
}

.card-img-overlay {
    background-image: linear-gradient(
        0deg,
        transparent 20%,
        var(--black) 80%);
    
    text-align: center;
}

.card-title, .card-text {
    color: var(--white);
}

.source {
    margin-top: 10px;
}