.card {
    margin: 2.5vw;
    border-color: #1E2832 !important;
    transition: transform .5s, box-shadow .5s, filter .5s;

    filter: grayscale(50%);
}

.card:hover {
    text-shadow: 0px 0px 10px #EBF5FF;
    box-shadow: 0px 0px 2.5px 2.5px #B1BBC5;

    transform: scale(1.1);

    filter: none;
}

.card-img {
    padding: 0;
}

.card-img-overlay {
    background: linear-gradient(
        0deg,
        transparent 20%,
        #000A14 80%);
    transition: padding .2s, opacity .5s, background-color .5s;
    
    text-align: center;
}

.card-title, .card-text {
    color: #EBF5FF;
}

.source {
    margin-top: 10px;
}